

<!-- templates/products/home.html-->  
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Course Application | academiccourses.com</title>
</head>
        <h1>High School</h1>
        
    <body>
        <header>
          <div class="nav-left">
            <h3>Courses Available</h3>
        </div>
        </header>        
            
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    
<body>
  <div class="container">
    <div class="row">
      {% for product in all_courses_list %}
      <div class="col-md-4 col-sm-12 col-lg-3 m-1">
              <div class="card" style='width:100%; '>
                
                      <div class="card-body">
                        <h6 class="card-title text-center"> {{ product.name }}</h6>
                      </div>
                      <div class='card-footer text-center'>
                      <a href="cart/{{product.slug}}" class="btn btn-success">Add to Course Plan</a>
                      </div>
              </div>
      </div>
      {% endfor %}
  </div>
  </div>
</body>
</html>

